# .gitignore

# virtual env:
cvipenv/

.env
.env.*

# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/

# IDE specific files
.vscode/
*.code-workspace

# Flask specific
instance/
*.pyc
*.pyo
__pycache__/
*.db
*.log
