{% extends "layout.html" %}
{% block head %}
    <!-- CSS file -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/form.css') }}">
{% endblock head %}
{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="content-section">
                    <form method="POST" action="" enctype="multipart/form-data">
                        {{ form.hidden_tag() }}
                        <fieldset class="form-group">
                            <legend class="pb-2 mb-4">Image Upload</legend>
                            <div class="form-group mb-4">
                                {{ form.image.label(class="form-control-label") }}
                                {% if form.image.errors %}
                                    {{ form.image(class="form-control form-control-sm is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.image.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.image(class="form-control form-control-sm") }}
                                {% endif %}
                            </div>
                        </fieldset>
                        <div class="form-group d-flex justify-content-between align-items-center mt-4">
                            {{ form.submit(class="btn btn-secondary", style="margin-left: auto;") }}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
